body {
    background-color: #D9DADB;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1920px;            
    margin: 0 auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 400px);   
    grid-gap: 50px 50px;      
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    aspect-ratio: 16 / 9;    
    border-radius: 15px;     
    object-fit: cover;       
}

.item p {
    margin-top: 10px;
    font-size: 24pt;         
}
